div
  font-size: 1.2rem
.divider
  margin: 4rem 0
.dadosPessoais
  display: flex
  justify-content: space-evenly
  height: 13rem
  .side
    width: 23.5rem
    display: flex
    justify-content: space-between
    font-size: .8rem
    #titles
      font-weight: bold
    .element
      font-size: .7rem
    
  .right
    flex-direction: column 
    justify-content: flex-start
    LinearProgress
      transition: 3s
      

@media only screen and ( max-width: 800px )
  .dadosPessoais
    flex-direction: column
    .side
      width: 20.5rem
      
  