
.divider
  margin: 4rem 0
.dadosPessoais
  display: flex
  justify-content: flex-start
  height: 10rem
  .side
    width: 23.5rem
    display: flex
    justify-content: space-between
    font-size: .8rem
    #titles
      font-weight: bold
    .element
      font-size: .7rem
    
  .right
    flex-direction: column 
    justify-content: flex-start
    LinearProgress
      transition: 3s
.return-top-container
  width: 100%
  display: flex
  justify-content: center
  .return-top
    margin: 0 auto
    background: #0f86d1
    border-radius: 100px
    cursor: pointer
    padding: .4rem
    color: white
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12)
.language-frameworks
  display: flex
  height: 15rem
  justify-content: space-between
  .language  
    width: 28%
  .frameworks
    width: 68%
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr
    .element
      display: flex
      align-items: center
      justify-content: space-between
      width: 90%
      .progressBar
        width: 2.9rem
        height: 2.9rem

@media only screen and ( max-width: 800px )
  .dadosPessoais
    flex-direction: column
    .side
      width: 20.5rem
      
  .language-frameworks
    flex-direction: column
    height: 29rem
    .vertical-divider
      display: none
    .language
      width: 100%
    .frameworks
      width: 100%
      grid-template-rows: 1fr 1fr 1fr 1fr
      grid-template-columns: 1fr 1fr