div
  font-size: 1.2rem
.divider
  margin: 4rem 0
.dadosPessoais
  display: flex
  justify-content: space-evenly
  height: 13rem
  .side
    width: 23.5rem
    display: flex
    justify-content: space-between
    .element
      font-size: 1rem
      b
        font-size: .8rem